.pic1{
    width:400px;
    display: inline-block;
}
.pic2{
    width: 400px;
    margin-left: 15px;
}
p{
    display: inline-block;
}
.ifeel{
    display: block;
}
body{
background-color: antiquewhite;
}
#searchbox{
    width: 500px;
    height: 30px;
    display: block;
}
#submitbtn1{
    padding:5px 10px;
    cursor: pointer;
    background-color: white;
    border: solid;
    border-radius: 4px;
}
#submitbtn2{
    padding:5px 10px;
    cursor: pointer;
    background-color: white;
    display: block;
    border: solid;
    border-radius:4px;
}
#search{
    display: block;
}
div{
    display: block;
}
#click{
    display: block;
}
.hidden{
    display: none;
}
#getstarted{
  padding: 50px 25px;
    display: block; 
}
.hidden {
  display: none;
}

#journalContainer {
  margin-top: 20px;
  padding: 15px;
  border: 2px solid #ccc;
  border-radius: 10px;
  width: 400px;
}

#journalInput {
  width: 100%;
  height: 100px;
  padding: 8px;
  font-size: 16px;
  margin-bottom: 10px;
}

#journalList {
  list-style-type: disc;
  padding-left: 20px;
}

#journalList li {
  background-color: #f7f7f7;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}
#openJournalBtn{
     padding: 50px 10px;
}
.hidden {
  display: none;
}

#quizContainer {
  margin-top: 20px;
  padding: 15px;
  border: 2px solid #ccc;
  border-radius: 10px;
  width: 450px;
}

#optionsContainer button {
  display: block;
  margin: 5px 0;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
}

#optionsContainer button:hover {
  background-color: #f0f0f0;
}
.hidden {
  display: none;
}

#quoteContainer {
  margin-top: 20px;
  padding: 15px;
  border: 2px solid #ccc;
  border-radius: 10px;
  width: 400px;
  font-size: 18px;
  text-align: center;
  background-color: #fef9f9;
}

#quoteContainer button {
  margin-top: 10px;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
}
.announcements{
  color: #fa0d0d;
}
#startQuizBtn{
  width:120px;
  height:102px;
  display: block;
}
#showQuoteBtn{
   width:120px;
  height:102px;
}
#adspace{
      width: 300px;           
  height: 250px;          
  border: 2px dashed #888;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #555;
  margin: 20px auto; 
}
#about{
    background-color:#ffffff;
    border: solid black;
    border-radius: 10px;
    padding:100px;
}
#textarea{
    width: 300px;
    height:500px;
    border:solid black;
}
#chatbox{
    width:500px;
    height:15px;
    margin-top:480px;
}











